.App {
  margin-left: 12px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 300px;
}

.gitName {
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.ul {
  width: 500px;
}